@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Press Start 2P Regular";
  src: url("@/assets/fonts/press_start_2p_regular.eot");
  src: url("@/assets//fonts/press_start_2p_regular.eot?#iefix")
      format("embedded-opentype"),
    url("@/assets/fonts/press_start_2p_regular.woff2") format("woff2"),
    url("@/assets/fonts/press_start_2p_regular.woff") format("woff"),
    url("@/assets/press_start_2p_regular.ttf") format("truetype"),
    url("@/assets/press_start_2p_regular.svg#press_start_2p_regular")
      format("svg");
}
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  transition: 0.4s;
}
.pixel-font {
  font-family: "Press Start 2P Regular" !important;
}
.text-stroke-2 {
  -webkit-text-stroke: 1px black;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
/* .p-password-mask-icon {
  font-size: 2rem !important;
} */
.card {
  position: relative;
  overflow: hidden;
}

.card:after {
  content: "";
  margin: 0;
  background: black;
  opacity: 0.6;
  position: absolute;
  left: 50%;
  top: 110%;
  margin-right: -50%;
  transform: translate(-50%, -60%);
  border-radius: 100%;
  width: 0;
  height: 0;
  transition: all 1s;
}

.card:hover:after {
  width: 600px;
  height: 600px;
}

.card__text {
  position: absolute;
  left: 0;
  transform: translate(0px, 20rem);
  transition: transform 0.5s ease 0s;
  z-index: 4;
}

.card__title {
  z-index: 2;
  position: absolute;
  left: 1.5rem;
  top: 1rem;
}
.card:hover .card__title {
  /* transform: scale(0.8);
  position: absolute;
  left: 0;
  top: 1rem;
  transition: transform .5s ease .5s; */
}
.card:hover .card__text {
  transform: translate(0px, 1rem);

  transition: transform 0.5s ease 0.5s;
}
.animate-text-1 {
  position: absolute;
  /* left: -50rem; */
  top: 10rem;
}
.animate-text-2 {
  position: absolute;
  /* right: -130rem; */
  top: 50rem;
}
